$white: #fff;
$formfon: #eaeaea;
$red: #ff486f;
$green: #54cc47;
$blue: #7499bc;
$redHover: #ff5b7f;
$greenHover: #8cc645;
$tabsFon: #7263ed;
$backTop: #0000FA;
$error: #ff0000;
$listColor: #00000036;
$mobilePhone: #00023d;
$buttonColor: #fafafa;